.photogrid--checkbox {
    background: white;
    border: 2px solid white;
    cursor: pointer;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
}

.photogrid--checkbox.active {
    background: #333;
}

.photogrid {
    padding: 0 0.125rem;
}

.photogrid--row__controls {
    display: block;
    position: absolute;
    left: 0.25rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 20;
}

.photogrid--row__controls > li {
    display: block;
}

.photogrid--photo__controls {
    display: block;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0.5rem;
    text-align: center;
}

.photogrid--photo__controls > li {
    display: inline-block;
}

.photogrid--photo__controls > li + li {
    margin-left: 0.25rem;
}

.photogrid--row__controls > li + li {
    margin-top: 0.25rem;
}

.photogrid--photo__controls .photo__control, .photogrid--row__controls .row__control {
    width: 36px;
    height: 36px;
    display: block;
    background: #ddd;
    color: #333;
    font-size: 1.5rem;
    line-height: 2rem;
}

.photogrid--photo__row {
    display: block;
    background: transparent;
    min-height: 0;
    position: relative;
    z-index: 10;
    padding: 0;
}

.photogrid--photo__row.editing {
    padding-left: 2.75rem;
}

.photogrid--photo__column {
    position: relative;
    vertical-align: middle;
    display: block;
    margin: 0.125rem;
}

.photogrid--photo__column > .photo__position {
    position: absolute;
    top: 0;
    z-index: 20;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.65);
    color: white;
    padding: 0.1rem;
}

.photogrid--photo__column > img {
    display: block;
    max-width: 100%;
    max-height: 750px;
    height: auto;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.custom__gallery {
    display: block;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    z-index: 9000;
    background: black;
}

.custom__gallery .custom__gallery__container {
  vertical-align: middle;
  display: block;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.custom__gallery .custom__gallery__container .previous__item {
  display: none;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  left: 50px;
  cursor: pointer;
  z-index: 9001;
}

.custom__gallery .custom__gallery__container .previous__item > * {
  pointer-events: none;
}

.custom__gallery .custom__gallery__container .custom__gallery__images {
  height: 100vh;
  text-align: center;
}

.custom__gallery .custom__gallery__container .custom__gallery__images .custom__gallery__item {
  position: relative;
  height: 100vh;
  display: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.custom__gallery .custom__gallery__container .custom__gallery__images .custom__gallery__item.active {
  display: block;
}

.custom__gallery .custom__gallery__container .custom__gallery__images .custom__gallery__item img {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  max-width: 100%;
  height: auto;
  width: 100%;
  margin: 0 auto;
  line-height: 1;
  vertical-align: middle;
  outline: 0;
}

.custom__gallery .custom__gallery__container .custom__gallery__images .custom__gallery__item p {
  color: white;
  margin-top: 12px;
}

.custom__gallery .custom__gallery__container .next__item {
  display: none;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  right: 50px;
  cursor: pointer;
  z-index: 9001;
}

.custom__gallery .custom__gallery__container .next__item > * {
  pointer-events: none;
}

.custom__gallery .close__gallery {
  position: absolute;
  z-index: 9999;
  right: 0;
  background: none;
  color: white;
  border: none;
  font-size: 3rem;
  float: right;
  font-weight: 300;
  width: 73px;
  height: 73px;
  overflow: hidden;
  text-decoration: none;
}

.custom__gallery .close__gallery:active, .custom__gallery .close__gallery:focus {
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
    .photogrid--photo__row {
        display: flex;
        flex: 1 1 auto;
    }

    .photogrid--photo__column > img {
        display: inline-block;
    }

    .custom__gallery .custom__gallery__container .previous__item, .custom__gallery .custom__gallery__container .next__item {
        display: inline-block;
    }
}

@media only screen and (min-width: 1400px) {
    .custom__gallery .custom__gallery__container {
        width: 92%;
    }

    .custom__gallery .custom__gallery__container .custom__gallery__images .custom__gallery__item img {
        max-width: 100%;
        height: 100%;
        width: auto;
    }
}
